 /* Form styling */
        form {
            margin-left: 35rem;
            margin-top: 8rem;
            padding: 78px;
            box-shadow: 0 0 10px black;
            width: 16em;
            height: 18rem;
            border-radius: 7px;
            text-transform: capitalize;
            font-weight: bold;
            color: white;
            background:#4cc8a3;
          

        }

        /* Input field styling */
        input {
            padding: 7px;
            width: 15vw;
            border-radius: 4px;
        }

        /* Button styling */
        button {
            padding: 1em;
            width: 12vw;
            border-radius: 5px;
            margin-top: 12px;
            margin-left: 21px;
            font-weight: bolder;
            text-transform: capitalize;
        }
        body{
            background-color: #d6efff;
            color: #1c1c1c;
        }

        /* Button hover effect */
        button:hover {
            /* background: linear-gradient(to right, crimson, white); */
            transition: all ease-in-out 0.9s;
            color: white;
            background-color: #7096d1;
        }

        /* Heading styling */
        h3 {
            margin-top: -12px;
        }
        
        /* Center alignment */
        center {
            display: block;
            text-align: center;
        }
       /* mobile responsive */
        @media only screen and (max-width: 768px) {
            form {
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                width: 80%;
                padding: 30px;
                height: auto;
            }
            p,h3{
          margin-left: 180px;
            }
        
            
            input {
                width: 90%;
            }
            
            button {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    
